{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Add Donation{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Add New Donation</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<form class="ui form">
						<h4 class="ui dividing header">Donation Info</h4>
						<div class="four wide field">
							<div class="field">
								<label>Donor Name</label>
								<div class="ui fluid search selection dropdown">
									<input type="hidden" name="donor">
									<i class="dropdown icon"></i>
									<div class="default text">Select Donor</div>
									<div class="menu">
									{% for donor in donors %}
										<div class="item" data-value="10100210">{{ donor.lname }}, {{ donor.fname }} </div>
									{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="four wide field">
							<div class="field">
								<label>Event Name</label>
								<div class="ui fluid search selection dropdown">
									<input type="hidden" name="donor">
									<i class="dropdown icon"></i>
									<div class="default text">Select Event</div>
									<div class="menu">
										{% for event in events %}
											<div class="item" data-value="10100210">{{ event.event_name }}</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="four wide field">
							<div class="field">
								<label>Pledge Amount</label>
								<div class="field">
									<input type="text" placeholder="Amount" id="amount">
								</div>
							</div>
						</div>
						<div class="ui primary button" tabindex="0">Add Donation</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
{% endblock %}