{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Add Donor{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Add New Donor</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<form class="ui form">
						<h4 class="ui dividing header">Personal Info</h4>
						<div class="field">
							<label>Name</label>
						</div>
						<div class="three fields">
							<div class="field">
								<input type="text" placeholder="First Name" id="fname">
							</div>
							<div class="field">
								<input type="text" placeholder="Middle Name" id="mname">
							</div>
							<div class="field">
								<input type="text" placeholder="Last Name" id="lname">
							</div>
						</div>
						<div class="field">
							<label>Address</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Address" id="address">
						</div>
						<div class="field">
							<label>Class Year</label>
						</div>
						<div class="field">
							<div class="ui fluid search selection dropdown">
								<input type="hidden" name="donor">
								<i class="dropdown icon"></i>
								<div class="default text">Select Class Year</div>
								<div class="menu">
								{% for class in classes %}
									<div class="item" data-value="{{ class.classyear }}">{{ class.classyear }}</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<h4 class="ui dividing header">Contact Info</h4>
						<div class="two fields">
							<div class="field">
								<label>Contact Number</label>
								<input type="text" placeholder="Telephone or Cellphone Number" id="contact-no">
							</div>
							<div class="field">
								<label>Email address</label>
								<input type="text" placeholder="example123@yahoo.com" id="email">
							</div>
						</div>
						<h4 class="ui dividing header">Payment Info</h4>
						<div class="field">
							<label>Credit Card Number</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Credit Card Number" id="credit-card-no">
						</div>
						<div class="ui button primary" tabindex="0">Add Donor</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
{% endblock %}