{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Add Donor{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Add New Donor</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<div class="ui error message transition hidden">
						<i class="close icon"></i>
						<div class="header">
							There was some errors with your submittion
						</div>
						<ul class="list">
							<li>Please fill out the *required fields</li>
						</ul>
					</div>
					<form class="ui form" action="{% url 'adminSite:newDonor' %}" method="post" id="donorForm">
						{% csrf_token %}
						<h4 class="ui dividing header">Personal Info</h4>
						<div class="field">
							<label>Name</label>
						</div>
						<div class="three fields">
							<div class="field">
								<input type="text" placeholder="First Name*" name="fname" class="required">
							</div>
							<div class="field">
								<input type="text" placeholder="Middle Name" name="mname">
							</div>
							<div class="field">
								<input type="text" placeholder="Last Name*" name="lname" class="required">
							</div>
						</div>
						<div class="field">
							<label>Address</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Address" name="address">
						</div>
						<div class="field">
							<label>Class Year*</label>
						</div>
						<div class="field">
							<div class="ui fluid search selection dropdown">
								<input type="hidden" name="class_field" class="required">
								<i class="dropdown icon"></i>
								<div class="default text">Select Class Year</div>
								<div class="menu">
								{% for class in classes %}
									<div class="item" data-value="{{ class.classyear }}">{{ class.classyear }}</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<div class="field">
							<label>Donor Affiliation*</label>
						</div>
						<div class="field">
							<div class="ui fluid search selection dropdown">
								<input type="hidden" name="donor" class="required">
								<i class="dropdown icon"></i>
								<div class="default text">Select Donor Affiliation</div>
								<div class="menu">
								{% for donor in donors %}
									<div class="item" data-value="{{ donor.donorid }}">{{ donor.lname }}, {{ donor.fname }}</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<h4 class="ui dividing header">Contact Info</h4>
						<div class="two fields">
							<div class="field">
								<label>Contact Number</label>
								<input type="text" placeholder="Telephone or Cellphone Number" name="contactno">
							</div>
							<div class="field">
								<label>Email address</label>
								<input type="text" placeholder="example123@yahoo.com" name="email">
							</div>
						</div>
						<h4 class="ui dividing header">Payment Info</h4>
						<div class="field">
							<label>Credit Card Number*</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Credit Card Number" name="creditno">
						</div>
						<div class="ui button primary" tabindex="0" id="addButton">Add Donor</div>
						<div class="ui primary button" id="restoreDropdown">Restore All Dropdowns</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		$('.close').click(function() {
			$(this).closest('.message').transition('fade');
		});
		$('#addButton').click(function() {
			var valid = true;
			$('.required').each(function() {
				if($(this).val()==''){
					valid = false;
				}
			});
			if(!valid){
				$('.ui.error.message').transition('fade down');
			}
			else {
				$('#donorForm').submit();
			}
		});
		$('#restoreDropdown')
  			.on('click', function() {
    			$('.ui.dropdown')
      				.dropdown('restore defaults')
    			;
  		});
	</script>
{% endblock %}