{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Annual Report{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Annual Report: {{ date_list.0.year }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<h3>Donors</h3>
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Donor Name</th>
					      <th>Class Year</th>
					      <th>Category</th>
					    </tr>
					  </thead>
					  <tbody>
					  {% for donor in donors %}
					  <tr>
					  	<td>{{ donor.lname }}, {{ donor.fname }} {{ donor.mname }}</td>
					  	<td>{{ donor.class_field.classyear }}</td>
					  	{% if not donor.donor_affiliation %}
					  	<td>Alumni</td>
					  	{% else %}
					  	<td>Others</td>
					  	{% endif %}
					  </tr>
					  {% endfor %}
					  </tbody>
					   <tfoot></tfoot>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<h3>Classes</h3>
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Class Year</th>
					      <th>Amount Contributed</th>
					    </tr>
					  </thead>
					  <tbody>
					  {% for key, value in classes.items %}
					  <tr>
					  	<td>{{ key }}</td>
					  	<td>{{ value }} PHP</td>
					  </tr>
					  {% endfor %}
					  </tbody>
					   <tfoot></tfoot>
					</table>
				</div>
			</div>
		</div>
{% endblock %}