{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Beta University Admin Page{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'adminSite/dist/semantic.min.css' %}">
	<script type="text/javascript" src="{% static 'adminSite/js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminSite/dist/semantic.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'adminSite/js/tablesort.js' %}"></script>
	{% block style %}{% endblock %}
</head>
<body>
	<div class="ui left fixed inverted vertical menu">
		<a href="{% url 'adminSite:adminHome' %}" class="header item">Beta University</a>
		<div class="item">
			<div class="header">Tables</div>
			<div class="menu">
				{% if is_admin %}
				<a href="{% url 'adminSite:userList' %}" class="item">Users</a>
				{% endif %}
				<a href="{% url 'adminSite:donorList' %}" class="item">Donors</a>
				<a href="{% url 'adminSite:eventList' %}" class="item">Events</a>
				<a href="{% url 'adminSite:donationList' %}" class="item">Donations</a>
				<a href="{% url 'adminSite:classesList' %}" class="item">Classes</a>
			</div>
		</div>
		<div class="item">
			<div class="header">Reports</div>
			<div class="menu">
				<a href="{% url 'adminSite:annualReportGenerator' %}" class="item">Annual Report</a>
				<a href="{% url 'adminSite:monthlyReportGenerator' %}" class="item">Monthly Report</a>
				<a href="{% url 'adminSite:duePaymentsGenerator' %}" class="item">Due Payments</a>
				<a href="{% url 'adminSite:eventReportGenerator' %}" class="item">Event Report</a>
				<a href="{% url 'adminSite:coordinatorListGenerator' %}" class="item">Coordinator's Class List</a>
				<a href="{% url 'adminSite:potentialDonors' %}" class="item">Potential Donors</a>
			</div>
		</div>
		<a href="{% url 'adminSite:logout' %}" class="item">Logout</a>
	</div>
	<div class="pusher">
		{% block content %}{% endblock %}
	</div>
	{% block scripts %}{% endblock %}
</body>
</html>