{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Class List{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Classes</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<table class="ui sortable single line table">
					  <thead>
					    <tr>
					      <th>Class Year</th>
					      <th>Class Coordinator</th>
					      <th>Delete</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for class in object_list %}
					    <tr>
					      <td><a href="{% url 'adminSite:class' class.classyear%}">{{ class.classyear }}</a></td>
					      <td>{{ class.coordinator }}</td>
					      <td>
								<a href="{% url 'adminSite:deleteClass' class.classyear %}"><i class="trash icon"></i></a>
						  </td>
					    </tr>
					    {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
					    		{% if not is_not_authorized %}
					    		<div class="ui left floated small primary labeled icon button" id="addClass">
						        	<i class="users icon"></i> Add Class
						        </div>
						        {% endif %}
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="ui modal">
		<div class="header">
			Add New Class
		</div>
		<div class="content">
			<form class="ui form" id="newParticipant" action="{% url 'adminSite:newClass' %}" method="POST">
				{% csrf_token %}
				<div class="field">
					<label>Class Year</label>
				</div>
				<div class="fluid field">
					<input type="text" name="classyear" minlength="4" maxlength="4">
				</div>
			</form>
		</div>
		<div class="actions">
		    <div class="two fluid ui buttons">
		      	<div class="ui ok green button" id="addNewClass">
		        	<i class="user icon"></i>
		        	Add Class
		    	</div>
		    	<div class="ui ok red button">
		        	<i class="remove icon"></i>
		    		Cancel
		    	</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('#addClass').click(function() {
		$('.ui.modal').modal('show')
	});
	$('#addNewClass').click(function() {
		$('#newParticipant').submit();
	});
	$('.sortable.table').tablesort();
</script>
{% endblock %}