{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: {{ class.classyear }}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui grid">
			<div class="row"></div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<h1>Class {{ class.classyear }}</h1>
					<h4>Class Coordinator: {{ class.coordinator }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<br>
					<h2>Donors</h2>
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Donor ID</th>
					      <th>Name</th>
					      <th>Contact No.</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for donor in class.donors.all %}
					    <tr>
					      <td><a href="{% url 'adminSite:donor' donor.donorid %}">{{ donor.donorid }}</a></td>
					      <td>{{ donor.lname }}, {{ donor.fname }} {{ donor.mname }}</td>
					      <td>{{ donor.contactno }}</td>
					    </tr>
					    {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
					    		{% if not is_not_authorized %}
					    		<div class="ui left floated small primary labeled icon button" id="changeCoor">
						        	<i class="user icon"></i>Change Coordinator
						        </div>
						        {% endif %}
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="ui modal">
		<div class="header">
			Change Coordinator
		</div>
		<div class="content">
			<form class="ui form" id="changeForm" action="{% url 'adminSite:modifyCoor' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="class_year" value="{{ class }}">
				<div class="field">
					<label>Change Coordinator</label>
					<div class="ui fluid search selection dropdown">
						<input type="hidden" name="donor">
						<i class="dropdown icon"></i>
						<div class="default text">Select new Coordinator</div>
						<div class="menu">
							{% for donor in class.donors.all %}
							<div class="item" data-value="{{ donor.donorid }}">{{ donor.lname }}, {{ donor.fname }}</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="actions">
		    <div class="two fluid ui buttons">
		      	<div class="ui ok green button" id="save">
		        	<i class="check icon"></i>
		        	Save
		    	</div>
		    	<div class="ui ok red button">
		        	<i class="remove icon"></i>
		    		Cancel
		    	</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		$('#changeCoor').click(function(){
			$('.ui.modal').modal('show')
		});
		$('#save').click(function() {
			$('#changeForm').submit();
		});
	</script>
{% endblock %}