{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% load sum %}
{% block title %}Beta University Admin: Donation{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui grid">
			<div class="row"></div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<div class="ui error message transition hidden">
					  <i class="close icon"></i>
					  <div class="header">
					    There was some errors with your payment
					  </div>
					  <ul class="list">
					    <li>Amount of payment must be less than or equal to Balance</li>
					  </ul>
					</div>
					<h1>Donation</h1>
					<h4>Pledge Amount: {{ donation.amount }} <br>
					Pledge Date: {{ donation.pledge_date }}<br>
					{% with payed=donation.transactions.all|summation %}
					Paid Amount: {{ payed }}<br>
					Balance: {{ donation.amount|sub:payed }}</h4>
					{% endwith %}
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<h2>Payments</h2>
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Payment ID</th>
					      <th>Amount</th>
					      <th>Date</th>
					      <th>Time</th>
					    </tr>
					  </thead>
					  <tbody>
					    {% for transaction in donation.transactions.all %}
					    <tr>
					      <td><a href="#">{{ transaction.transactionid }}</a></td>
					      <td>{{ transaction.amount_paid }} PHP</td>
					      <td>{{ transaction.date_paid }}</td>
					      <td>{{ transaction.time_paid }}</td>
					      </tr>
					    {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
					    		<div class="ui left floated small primary labeled icon button" id="makePayment">
						        	<i class="dollar icon"></i>Add Payment
						        </div>
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
	<div class="ui modal">
		<div class="header">
			Make Payment
		</div>
		<div class="content">
			<form class="ui form" id="makePaymentForm" action="{% url 'adminSite:newTransaction' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="{{ donation.donationno }}" name="donationno">
				<input type="hidden" value="{{ donation.donorid.donorid }}" name="donorid">
				<div class="field">
					<label>Amount</label>
				</div>
				<div class="field">
					<input type="text" name="payment" placeholder="Amount of Payment" id="payment">
				</div>
				<div class="field">
					<label>Payment Date</label>
				</div>
				<div class="field">
					<input type="text" name="date" placeholder="YYYY-MM-DD">
				</div>
			</form>
		</div>
		<div class="actions">
		    <div class="two fluid ui buttons">
		      	<div class="ui ok green button" id="submitPayment">
		        	<i class="dollar icon"></i>
		        	Make Payment
		    	</div>
		    	<div class="ui ok red button">
		        	<i class="remove icon"></i>
		    		Cancel
		    	</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		$('#makePayment').click(function(){
			$('.ui.modal').modal('show')
		});
		$('.close').click(function() {
			$(this).closest('.message').transition('fade');
		});
		{% with payed=donation.transactions.all|summation %}
		$('#submitPayment').click(function() {
			if(parseInt($('#payment').val()) > parseInt({{ donation.amount|sub:payed }})) {
				$('.ui.error.message').transition('fade down');
			}
			else {
				$('#makePaymentForm').submit();
			}
		});
		{% endwith %}
	</script>
{% endblock %}