{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Donation{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui grid">
			<div class="row"></div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<h1>Donation</h1>
					<h4>Pledge Amount: {{ donation.amount }}</h4>
					<h4>Pledge Date: {{ donation.pledge_date }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<h2>Payments</h2>
				</div>
			</div>
			<div class="row">
				<div class="three wide column"></div>
				<div class="twelve wide column">
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Payment ID</th>
					      <th>Amount</th>
					      <th>Date</th>
					      <th>Time</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					    {% for transaction in donation.transactions.all %}
					      <td><a href="#">{{ transaction.transactionid }}</a></td>
					      <td>{{ transaction.amount_paid }}PHP</td>
					      <td>{{ transaction.date_paid }}</td>
					      <td>{{ transaction.time_paid }}</td>
					    {% endfor %}
					    </tr>
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
					    		<div class="ui left floated small primary labeled icon button" id="makePayment">
						        	<i class="dollar icon"></i>Add Payment
						        </div>
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
	<div class="ui modal">
		<div class="header">
			Make Payment
		</div>
		<div class="content">
			<form class="ui form" id="makePayment" action="#" method="POST">
				<div class="field">
					<label>Amount</label>
				</div>
				<div class="field">
					<input type="text" id="payment" placeholder="Amount of Payment">
				</div>
			</form>
		</div>
		<div class="actions">
		    <div class="two fluid ui buttons">
		      	<div class="ui ok green button" type="submit" form="newParticipant">
		        	<i class="dollar icon"></i>
		        	Make Payment
		    	</div>
		    	<div class="ui ok red button">
		        	<i class="remove icon"></i>
		    		Cancel
		    	</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		$('#makePayment').click(function(){
			$('.ui.modal').modal('show')
		});
	</script>
{% endblock %}