{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% load sum %}
{% block title %}Beta University Admin: {{ donor.lname }}, {{ donor.fname }} {% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="ui medium bordered image column">
					{% with total_payment=donor.donations.all|totalGiftsDonation %}
					{% if total_payment <= 100 %}
					<img src="{% static 'adminSite/img/dp.jpg' %}">
					{% elif total_payment <= 1000 %}
					<img src="{% static 'adminSite/img/over 100 - copper.png' %}">
					{% elif total_payment <= 10000 %}
					<img src="{% static 'adminSite/img/over 1,000 - brass.png' %}">
					{% elif total_payment <= 15000 %}
					<img src="{% static 'adminSite/img/over 10,000 - silver.png' %}">
					{% elif total_payment <= 20000 %}
					<img src="{% static 'adminSite/img/over 15,000 - cobalt.png' %}">
					{% elif total_payment <= 25000 %}
					<img src="{% static 'adminSite/img/over 20,000 - gold.png' %}">
					{% elif total_payment <= 30000 %}
					<img src="{% static 'adminSite/img/over 25,000 - platinum.png' %}">
					{% elif total_payment <= 40000 %}
					<img src="{% static 'adminSite/img/over 30,000 - titanium.png' %}">
					{% elif total_payment <= 50000 %}
					<img src="{% static 'adminSite/img/over 40,000 - diamond.png' %}">
					{% else %}
					<img src="{% static 'adminSite/img/over 50,000 - president.PNG' %}">

					{% endif %}
					{% endwith %}
				</div>
				<div class="column">
					<h1>{{ donor.fname }} {{ donor.mname }}  {{ donor.lname }}</h1>
					<div class="ui list">
						<div class="item">
						<h5>Class: <a href="
									{% if donor.class_field %}
										{% url 'adminSite:class' donor.class_field %}
									{% endif %}">{{ donor.class_field }}
						</a></h5>
						</div>
						<div class="item"><h5>Address: {{ donor.address }}</h5></div>
						<div class="item"><h5>Contact Number: {{ donor.contactno }}</h5></div>
						<div class="item"><h5>Email: {{ donor.email }}</h5></div>
						<div class="item"><h5>Credit Card No. : {{ donor.creditno }}</h5></div>
						<div class="item"><h5>Affiliation: {{ donor.donor_affiliation }}</h5></div>
					</div>
				</div>
				<div class="column"></div>
				{% if not is_not_authorized %}
				<div class="column">
					<button class="ui basic icon button" id="edit">
						<i class="edit icon"></i>
						Edit Profile
					</button>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<h3>Donations</h3>
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Donation ID</th>
					      <th>Amount Pledged</th>
					      <th>Amount Payed</th>
					      <th>Date of Last Payment</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for donation in donor.donations.all %}
					    <tr>
					      <td><a href="{% url 'adminSite:donation' donation.donationno %}">{{ donation.donationno }}</a></td>
					      <td>{{ donation.amount }} PHP</td>
					      <td>{{ donation.transactions.all|summation }} PHP</td>
					      <td>{{ donation.transactions.last.date_paid }}</td>
					    </tr>
					    {% endfor %}
					  </tbody>
					  <tfoot>
					    <tr>
					    	<th colspan="10">
						      <div class="ui right floated pagination menu">
						        <a class="icon item">
						          <i class="left chevron icon"></i>
						        </a>
						        <div class="item">1 of 1</div>
						        <a class="icon item">
						          <i class="right chevron icon"></i>
						        </a>
						      </div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<h3>Events Joined</h3>
					<table class="ui single line table">
					  <thead>
					    <tr>
					      <th>Event ID</th>
					      <th>Event Name</th>
					      <th>Event Date</th>
					    </tr>
					  </thead>
					  <tbody> 
					  {% for event in eventDonations %}
					    <tr>
					      <td><a href="{% url 'adminSite:event' event.eventid %}">{{ event.eventid }}</a></td>
					      <td>{{ event.eventid.event_name }}</td>
					      <td>{{ event.eventid.event_date }}</td>
					    </tr>
					  {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
						      <div class="ui right floated pagination menu">
						        <a class="icon item">
						          <i class="left chevron icon"></i>
						        </a>
						        <div class="item">1 of 1</div>
						        <a class="icon item">
						          <i class="right chevron icon"></i>
						        </a>
						      </div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}	
	<script type="text/javascript">
		$('#edit').click(function() {
			location.href = "{% url 'adminSite:editDonor' donor.donorid %}";
		});
	</script>
{% endblock %}