{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Add Donor{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Edit Donor</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<form class="ui form" action="{% url 'adminSite:newDonor' %}" method="post" id="donorForm">
						{% csrf_token %}
						<h4 class="ui dividing header">Personal Info</h4>
						<div class="field">
							<label>Name</label>
						</div>
						<div class="three fields">
							<div class="field">
								<input type="text" placeholder="First Name" name="fname" value="{{ donor.fname }}">
							</div>
							<div class="field">
								<input type="text" placeholder="Middle Name" name="mname" value="{{ donor.mname }}">
							</div>
							<div class="field">
								<input type="text" placeholder="Last Name" name="lname" value="{{ donor.lname }}">
							</div>
						</div>
						<div class="field">
							<label>Address</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Address" name="address">
						</div>
						<div class="field">
							<label>Class Year</label>
						</div>
						<div class="field">
							<div class="ui fluid search selection dropdown">
								<input type="hidden" name="class_field" value="{{ donor.class_field.classyear }}">
								<i class="dropdown icon"></i>
								<div class="default text">Select Class Year</div>
								<div class="menu">
								{% for class in classes %}
									<div class="item" data-value="{{ class.classyear }}">{{ class.classyear }}</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<div class="field">
							<label>Donor Affiliation</label>
						</div>
						<div class="field">
							<div class="ui fluid search selection dropdown">
								<input type="hidden" name="donor" value="{{ donor.donor_affiliation.donorid }}">
								<i class="dropdown icon"></i>
								<div class="default text">Select Donor Affiliation</div>
								<div class="menu">
								{% for donor in donors %}
									<div class="item" data-value="{{ donor.donorid }}">{{ donor.lname }}, {{ donor.fname }}</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<h4 class="ui dividing header">Contact Info</h4>
						<div class="two fields">
							<div class="field">
								<label>Contact Number</label>
								<input type="text" placeholder="Telephone or Cellphone Number" name="contactno" value="{{ donor.contactno }}">
							</div>
							<div class="field">
								<label>Email address</label>
								<input type="text" placeholder="example123@yahoo.com" name="email" value="{{ donor.email }}">
							</div>
						</div>
						<h4 class="ui dividing header">Payment Info</h4>
						<div class="field">
							<label>Credit Card Number</label>
						</div>
						<div class="field">
							<input type="text" placeholder="Credit Card Number" name="creditno" value="{{ donor.creditno }}">
						</div>
						<div class="ui button primary" tabindex="0" id="addButton">Save Changes</div>
						<div class="ui button primary" id="cancel">Cancel</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		$('#addButton').click(function() {
			$('#donorForm').submit();
		});
		$('#cancel').click(function() {
			location.href = "{% url 'adminSite:donor' donor.donorid %}";
		});
	</script>
{% endblock %}