{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% load sum %}
{% block title %}Beta University Admin: Event Report{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Event Report</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<table class="ui sortable single line table">
					  <thead>
					    <tr>
					    	<th>Donor</th>
					    	<th>Pledges</th>
					    	<th>Gifts</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for donation in eventDonations %}
					  	<tr>
					  		<td>{{ donation.donorid }}</td>
					  		<td>{{ donation.donationno.amount }} PHP</td>
					  		<td>{{ donation.donationno.transactions.all|summation }} PHP</td>
					  	</tr>
						{% endfor %}
					  </tbody>
					   <tfoot class="full-width green">
					   	<tr>
					   		<th>Total</th>
					   		<th>{{ eventDonations|totalpledges }} PHP</th>
					   		<th>{{ eventDonations|totalgifts }} PHP</th>
					   	</tr>
					   </tfoot>
					</table>
				</div>
			</div>
		</div>
{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		$('.sortable.table').tablesort();
	</script>
{% endblock %}