{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Home{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="ui grid">
		<div class="row"></div>
		<div class="row">
			<div class="three wide column"></div>
			<div class="twelve wide column">
				<h1>Home</h1>
				<h3>Event Log</h3>
				<table class="ui sortable single line table">
				  <thead>
				    <tr>
				    	<th>User</th>
				    	<th>Action</th>
				    	<th>Message</th>
				    	<th>Date</th>
				    	<th>Time</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for log in logs %}
				    <tr>
				    	<td>{{ log.user }}</td>
				    	<td>{{ log }}</td>
				    	<td>{{ log.change_message }}</td>
				    	<td>{{ log.action_time.date }}</td>
				    	<td>{{ log.action_time.time }}</td>
					</tr>
					{% endfor %}
				  </tbody>
				   <tfoot>
				    <tr>
				    	<th colspan="10">
					      	<div class="ui right floated pagination menu">
					        	<a class="icon item">
					          		<i class="left chevron icon"></i>
						       	</a>
						    	<div class="item">1 of 1</div>
					        	<a class="icon item">
					         		<i class="right chevron icon"></i>
					        	</a>
					      	</div>
					    </th>
				  	</tr>
				  </tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}