{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Potential Donors{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Potential Donors</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<table class="ui sortable single line table">
					  <thead>
					    <tr>
					      <th>Donor Name</th>
					      <th>Address</th>
					      <th>Contact</th>
					      <th>Year</th>
					      <th>Category</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for donor in object_list %}
						    <tr>
						      <td>{{ donor.lname }}, {{ donor.fname }} {{ donor.mname }}</td>
						      <td>{{ donor.address }}</td>
						      <td>{{ donor.contactno }}</td>
						      <td>{{ donor.class_field.classyear }}</td>
						      {% if not donor.donor_affiliation %}
							  <td>Alumni</td>
							 {% else %}
							  <td>Others</td>
							  	{% endif %}
						    </tr>
					    {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.sortable.table').tablesort();
	</script>
{% endblock %}