{% extends 'adminSite/base.html' %}
{% load staticfiles %}
{% block title %}Beta University Admin: Donor List{% endblock %}

{% block style %}{% endblock %}

{% block content %}
		<div class="ui five column grid">
			<div class="row"></div>
			<div class="row">
				<div class="column"></div>
				<div class="column">
					<h2>Results for: "{{ searched }}"</h2>
				</div>
			</div>
			<div class="row">
				<div class="column"></div>
				<div class="twelve wide column">
					<table class="ui sortable single line table">
					  <thead>
					    <tr>
					      <th>Donor ID</th>
					      <th>Donor Name</th>
					      <th>Date Last Payed</th>
					      {% if not is_not_authorized %}
					      <th>Delete</th>
					      {% endif %}
					    </tr>
					  </thead>
					  <tbody>
					  	{% for donor in object_list %}
						    <tr>
						      <td><a href="{% url 'adminSite:donor' donor.donorid %}">{{ donor.donorid }}</a></td>
						      <td>{{ donor.lname }}, {{ donor.fname }} {{ donor.mname }}</td>
						      <td>{{ donor.transactions.last.date_paid }}</td>
						      {% if not is_not_authorized %}
						      <td>
								<a href="{% url 'adminSite:deleteDonor' donor.donorid %}"><i class="trash icon"></i></a>
						      </td>
						      {% endif %}
						    </tr>
					    {% endfor %}
					  </tbody>
					   <tfoot>
					    <tr>
					    	<th colspan="10">
						      	<div class="ui right floated pagination menu">
						        	<a class="icon item">
						          		<i class="left chevron icon"></i>
							       	</a>
							    	<div class="item">1 of 1</div>
						        	<a class="icon item">
						         		<i class="right chevron icon"></i>
						        	</a>
						      	</div>
						    </th>
					  	</tr>
					  </tfoot>
					</table>
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.sortable.table').tablesort();
		$('.ui.search')
  			.search({
    		source: content
			
  		});
	</script>
{% endblock %}