{% extends "mainSite/base.html" %}
{% load staticfiles %}
{% block title %}Beta University: About Us{% endblock %}
{% block style %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
		<div class="ui grid">
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row">
			<div class="two wide column"></div>
			<div class="twelve wide column">
				<div class="ui raised segments">
					<div class="ui segment">
						<h2 class="ui header">About Us</h2>
					</div>
					<div class="ui segment">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum libero, tincidunt ac condimentum sed, sodales ac ipsum. Aenean dignissim nisl et augue sagittis, sed auctor nibh iaculis. Nam posuere nibh ac interdum rutrum. Suspendisse dignissim leo eget lorem congue, vitae commodo augue luctus. Vivamus porttitor urna vitae sagittis congue. Ut porttitor sapien et lectus ornare venenatis. Donec placerat nisi ut ipsum pellentesque malesuada. Nam ac justo at turpis Mandreza maximus tristique sit amet sed neque. Etiam dictum imperdiet libero eget scelerisque. Nunc tincidunt magna ligula, pharetra volutpat augue molestie eu. Integer sed maximus diam, ut feugiat felis. Pellentesque rutrum nec mauris id molestie. Aliquam turpis augue, congue vel varius consequat, suscipit in sem. Phasellus gravida tortor eu dolor malesuada placerat.</p>

						<p>Phasellus nec elit lacinia, cursus velit quis, luctus velit. Nunc venenatis neque eget tortor lacinia, consectetur luctus enim efficitur. Etiam in tempus odio, eget pretium enim. Vestibulum neque ex, imperdiet sed tempor vitae, consectetur in felis. Nulla facilisi. Duis ac sagittis enim. Aenean purus nunc, laoreet at malesuada at, condimentum nec orci. Aliquam et lectus ac lorem ornare elementum. Vestibulum et condimentum erat, et ultricies eros. Proin ullamcorper pellentesque eros in bibendum. Proin sed ultricies metus. Maecenas tempor metus dictum, convallis sapien in, tincidunt dui. Quisque nec urna eu metus sollicitudin consequat eu non mi. Aenean vestibulum sed lorem ac tristique.</p>
						
						<p>Morbi ultricies leo eros, eu facilisis leo pharetra sit amet. Etiam ut convallis purus. Curabitur odio velit, bibendum vitae ullamcorper sed, placerat eget nibh. Nulla ornare lorem vel orci pretium faucibus. Etiam nec egestas augue, ac consectetur arcu. Suspendisse Quezon euismod ligula eu pulvinar congue. Nullam purus enim, tempor in massa vitae, mattis porta justo. Praesent nunc purus, condimentum ut pellentesque vel, lobortis nec neque. Etiam aliquam quam lacus, faucibus Suarez rhoncus purus aliquam ac. Aliquam augue sem, laoreet vel orci at, mattis volutpat ante. Nunc ultrices eros lacus, ut lobortis ante tristique ac. Ut in dolor sed dolor imperdiet pulvinar at a neque. Donec pretium sollicitudin dictum. Etiam accumsan purus quis justo auctor convallis.</p>

						<p>Integer pharetra, velit eget laoreet ullamcorper, lorem massa vulputate nisi, quis condimentum orci est vel dolor. Morbi facilisis nisi et nisi dapibus vulputate. Etiam faucibus ut elit ut ornare. Donec luctus nulla sit amet lacus dictum, et venenatis enim commodo. Nulla faucibus dolor Saludadez ac ligula molestie, non placerat mi eleifend. Proin congue tristique iaculis. Aenean sed arcu at neque vulputate sollicitudin at ut libero. Suspendisse non pretium purus. Aenean aliquet lobortis quam, id interdum nulla porta nec. Suspendisse a hendrerit justo.</p>
					</div>
				</div>
			</div>
		</div>
			
		</div>
{% endblock %}

{% block script %}
{% endblock %}